<!-- Authors: Grant O'Meara, Austin Horn, Musaad AlAnazi -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Bloom's Taxonomy Verb Detector</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- Homepage Specific Elements -->
    <link rel="stylesheet" href="styles/layout.css" type="text/css" />
	<script type="text/javascript" src="scripts/jquery-1.4.1.min.js"></script>
	<script type="text/javascript" src="scripts/jquery-ui-1.7.2.custom.min.js"></script>
	<script type="text/javascript" src="scripts/list-control.js"></script>
    <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.4.6"></script>
    <script src='http://mbostock.github.com/d3/d3.layout.js?2.4.6' type='text/javascript'></script>
    <!-- End Homepage Specific Elements -->
</head>
<body>
	<div id="header">
		<h1>Bloom's Taxonomy Verb Detector</h1>
	</div>
   	<div class="colmask threecol">
		<div class="colmid">
			<div class="colleft">
				<div class="col1">
                    <!-- Column 1 start -->
                    <!-- Hide/Show graph and contents -->
                    <script>
                        function content_view_click(content, graph) {
                            document.getElementById(content).style.display = 'block';
                            document.getElementById(graph).style.display = 'none';
                        }

                        function graph_view_click(content, graph) {
                            document.getElementById(content).style.display = 'none';
                            document.getElementById(graph).style.display = 'block';
                        }

                    </script>
                    
                    <button id="content-view" onclick="content_view_click('content', 'graphs')">Content</button>
                    <button id="graph-view" onclick="graph_view_click('content', 'graphs')">Graphs</button>
                    
                    <div id = "content">
                    	<!-- commented out code below can be used to give documents names, no use as of yet -->
                        <!-- <p th:text="'Document name: ' + ${upload.id}" /> -->
                        <p th:text="${upload.content}" />
                    </div>
                    
                    <div style="display:none"  id = "graphs" class="graphs">
						<div id="d3portfolio"></div>
						<script th:inline="javascript">
							/*<![CDATA[*/
							
							//initialise variables taken from java code using thymeleaf
							var creating = /*[[${upload.creatingVal}]]*/ '0';
							var evaluating = /*[[${upload.evaluatingVal}]]*/ '0';
							var analysing = /*[[${upload.analysingVal}]]*/ '0';
							var applying = /*[[${upload.applyingVal}]]*/ '0';
							var understanding = /*[[${upload.understandingVal}]]*/ '0';
							var remembering = /*[[${upload.rememberingVal}]]*/ '0';        
							           
							var data = { label: 'Bloom\'s Taxonomy', pct: [remembering,understanding,analysing,applying,evaluating,creating] };
							
							var labels = ['Remembering', 'Understanding', 'Analysing', 'Applying', 'Evaluating', 'Creating'];
							
							var w = 320,                       // width and height, natch
							    h = 320,
							    r = Math.min(w, h) / 2,        // arc radius
							    dur = 750,                     // duration, in milliseconds
							    color = d3.scale.category10(),
							    donut = d3.layout.pie().sort(null),
							    arc = d3.svg.arc().innerRadius(r - 80).outerRadius(r - 20);
							
							// ---------------------------------------------------------------------
							var svg = d3.select("#d3portfolio").append("svg:svg")
							    .attr("width", w).attr("height", h);
							
							var arc_grp = svg.append("svg:g")
							    .attr("class", "arcGrp")
							    .attr("transform", "translate(" + (w / 2) + "," + (h / 2) + ")");
							
							var label_group = svg.append("svg:g")
							    .attr("class", "lblGroup")
							    .attr("transform", "translate(" + (w / 2) + "," + (h / 2) + ")");
							
							// GROUP FOR CENTER TEXT
							var center_group = svg.append("svg:g")
							    .attr("class", "ctrGroup")
							    .attr("transform", "translate(" + (w / 2) + "," + (h / 2) + ")");
							
							// CENTER LABEL
							var pieLabel = center_group.append("svg:text")
							    .attr("dy", ".35em").attr("class", "chartLabel")
							    .attr("text-anchor", "middle")
							    .text(data.label);
							
							// DRAW ARC PATHS
							var arcs = arc_grp.selectAll("path")
							    .data(donut(data.pct));
							arcs.enter().append("svg:path")
							    .attr("stroke", "white")
							    .attr("stroke-width", 0.5)
							    .attr("fill", function(d, i) {return color(i);})
							    .attr("d", arc)
							    .each(function(d) {this._current = d});
							
							// DRAW SLICE LABELS
							var sliceLabel = label_group.selectAll("text")
							    .data(donut(data.pct));
							sliceLabel.enter().append("svg:text")
							    .attr("class", "arcLabel")
							    .attr("transform", function(d) {return "translate(" + arc.centroid(d) + ")"; })
							    .attr("text-anchor", "middle")
							    .text(function(d, i) {return labels[i]; });
							
							/*]]>*/
						</script>
                    </div>
					<!-- Column 1 end -->
				</div>
				<div class="col2">
					<!-- Column 2 start -->
					<!-- form that will allow the user to upload a file, data will be taken from .html to java via thymeleaf -->
                    <form action="#" th:action="@{/upload}" th:object="${upload}" method="post" enctype="multipart/form-data">
                        <p>Name: <input type="text" th:field="*{id}" /></p>
                        File 1: <input type="file" name="file"/><br />
                        <!-- File upload field, to be used for multiple file uploads in future -->
                        <!-- File 2: <input type="file" name="file2"/><br /> -->
                        <p><input type="submit" value="Submit" /></p>
                        <a href="/upload">Upload another file</a>
                    </form>
					<!-- Column 2 end -->
				</div>
				<div class="col3">
					<!-- Column 3 start -->
					<div id="listContainer">
			            <div class="listControl">
			                <a id="expandList">Expand All</a>
			                <!-- code for the collapse list button - commented out as it causes problems 
			                with the total count in parentheses for each category -->
			               	<!-- <a id="collapseList">Collapse All</a> -->
			            </div>
			            <!-- these are the expandable lists on the right, data is taken from java object and displayed on the html page -->
			            <ul id="expList">
			                <li>
			                	<!-- total for this taxonomy level in parentheses -->
			                    Creating (<span id="total" th:text="${upload.creatingVal} "></span>)
			                    <ul>
			                        <li>
			                        	<!-- JSON array containing verb names and data counts -->
			                           	<p th:text="${upload.creating}" />
			                        </li>
			                    </ul>
			                </li>
			                <li>
			                    Evaluating (<span th:text="${upload.evaluatingVal} "></span>)
			                    <ul>
			                    	<li>
			                    		<p th:text="${upload.evaluating}" />
			                    	</li>
			                    </ul>
			                </li>
			                <li>
			                    Analysing (<span th:text="${upload.analysingVal} "></span>)
			                    <ul>
			                        <li>
			                            <p th:text="${upload.analysing}" />
			                        </li>
			                    </ul>
			                </li>
			                <li>
			                    Applying (<span th:text="${upload.applyingVal} "></span>)
			                    <ul>
			                        <li>
			                            <p th:text="${upload.applying}" />
			                        </li>
			                    </ul>
			                </li>
			                <li>
			                    Understanding (<span th:text="${upload.understandingVal} "></span>)
			                    <ul>
			                        <li>
			                            <p th:text="${upload.understanding}" />
			                        </li>
			                    </ul>
			                </li>
			                <li>
			                    Remembering (<span th:text="${upload.rememberingVal} "></span>)
			                    <ul>
			                        <li>
			                            <p th:text="${upload.remembering}" />
			                        </li>
			                    </ul>
			                </li>
			            </ul>
			        </div>
					<!-- Column 3 end -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>
